  *{
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            width: 500px;
            height: 800px;
            background-color: aqua;
            padding-top: 40px;
        }

        .container h1{
            text-align: center;
            margin-bottom: 30px;
        }

        .qrPlaceholder{
            width: 300px;
            height: 300px;
            background-color: white;
            border: 2px solid #333;
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #666;
        }

        input{
            width: 300px;
            padding: 10px;
            font-size: 16px;
            margin-bottom: 20px;
        }

        button{
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }